@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IrHoma";
    src: url("../src/assets/fonts/IRHoma.woff2"), format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "IrSans";
    src: url("../src/assets/fonts/IRSans.woff2"), format("woff2");
    font-display: swap;
  }
}

.slick-slider {
  /* margin: 0 ; */
}

.slick-slider > div {
  /* gap: 20px !important; */
}

* {
  padding: 0;
  margin: 0;
}

.delivery::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 50px;
    height: 5px;
    border-radius: 20px;
}

.delivery::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background: #f5f3f3;
  
  }
  
  .delivery::-webkit-scrollbar-thumb {
    background: #9c9a9a;
    /* Customize the scrollbar thumb */
}