@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 


   @font-face {
    font-family: "IRANSans";
    src: url("../src/assets/fonts/IranSans/IRANSans.ttf"), format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSans_Black";
    src: url("../src/assets/fonts/IranSans/IRANSans_Black.ttf"), format("woff2");
    font-display: swap;
  }

   @font-face {
    font-family: "IRANSans_Bold";
    src: url("../src/assets/fonts/IranSans/IRANSans_Bold.ttf"), format("woff2");
    font-display: swap;
  }

   @font-face {
    font-family: "IRANSans_Light";
    src: url("../src/assets/fonts/IranSans/IRANSans_Light.ttf"), format("woff2");
    font-display: swap;
  }

   @font-face {
    font-family: "IRANSans_Medium";
    src: url("../src/assets/fonts/IranSans/IRANSans_Medium.ttf"), format("woff2");
    font-display: swap;
  }
  

   @font-face {
    font-family: "IRANSans_UltraLight";
    src: url("../src/assets/fonts/IranSans/IRANSans_UltraLight.ttf"), format("woff2");
    font-display: swap;
  }

   @font-face {
    font-family: "IRANSansFaNum";
    src: url("../src/assets/fonts/IranSans/IRANSansFaNum.ttf"), format("woff2");
    font-display: swap;
  }
}


.slick-slider {
  /* margin: 0 ; */
}

.slick-slider > div {
  /* gap: 20px !important; */
}

* {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
    /* Customize the scrollbar width */
    /* width: 50px; */
    /* height: 5px; */
    /* border-radius: 0px; */
    display: none;
}

*::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background: #f5f3f3;
  
  }
  
*::-webkit-scrollbar-thumb {
    background: #9c9a9a;
    /* Customize the scrollbar thumb */
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}